.container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    min-height: 60px;
    min-width: 0;
    padding: 16px 24px;
    text-align: center;
    width: 40%;
}

.btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transition: 660ms;
}

.hex-colors{
  width: 100%;
  text-align: center;
}


.hex-colors h1{
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 30px;
}
  
.hex-colors h2{
    margin-top: 30px;
    font-size: 2rem;
}
  

  